.learn {
    height: calc(100vh - 20vw);
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@media (max-width: 450px) {
    .learn {
        height: calc(100% - 22vw);
    }
}

.learn::-webkit-scrollbar {
    display: none;
}