.learn {
    height: calc(100vh - 69px);
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.learnImg {
    position: relative;
    background-image: url("images/learn.png");
    background-size: cover;
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
}

.learntab {
    background: rgb(165,156,249);
    background: linear-gradient(180deg, rgba(165,156,249,1) 0%, rgba(134,176,248,1) 54%, rgba(165,156,249,1) 100%);
}


.learnTabsBtn {
    width: 50%;
    height: 100%;
    font-size: x-large;
    float: left;
    text-align: center;
    color: black;
    background-color:#ffffff00;
    color:black;
    border:none;
    float:left;
    text-align: center;
    vertical-align: middle; 
}

@media (max-width: 450px) {
    .learn {
        height: calc(100% - 120px);
    }
}

.learn::-webkit-scrollbar {
    display: none;
}

.learnTabs div {
    padding: 1ch;
    background-color: #fb78c988;
}

.learnTabs div:nth-child(odd) {
    background-color: #f8afdc88;
}