#achievements {
    margin: 0;
    padding: 0;
    padding: 5px;
}

#achievements li {
    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    list-style-type: none;
    display: inline-block;
}

#achievementDisabler {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top: 0%;
}

#achievementImage {
    width: 20vh;
    height: 20vh;
}


#achievementPopup {
    position: absolute;
    width: calc(100% - 20vh - 40ch);
    height: 20%;
    left: calc(20vh + 20ch);
    top: 40%;
}

/*Mobile formatting*/
@media (max-width: 450px) {
    #achievementPopup {
        position: absolute;
        width:96%;
        height: 20%;
        left: 2%;
        top: 40%;
    }
}



.an {
    float: left;
    width: calc(100% - 20vh);
    height: 10vh;
    /*background-color: cyan;*/
}

.ai {
    float: right;
    width: 20vh;
    /*background-color: yellow;*/
}

.ad {
    top: 10vh;
    width: calc(100% - 20vh);
    float: left;
    /*background-color: magenta;*/
}

#inventory {
    margin: 0;
    padding: 0;
    padding: 5px;
}

#inventory li {
    margin-left: 2px;
    margin-right: 2px;
    margin: 2px;
    list-style-type: none;
    display: inline-block;
}

.profile {
    float: right;
    position: absolute;
    text-align: right;
    top:0%;
    right: 0%;
}

.profileScroll {
    height: calc(100vh - 20vw);
    overflow-y:scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}


@media (max-width: 450px) {
    .profileScroll {
        height: calc(100% - 22vw);
    }
}

.profileScroll::-webkit-scrollbar {
    display: none;
}