#quiz {
    position: relative;
    background-image: url("images/quiz.png");
    background-size: auto 100%;
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.question {
    width:100%;
    height:10%;
    float:bottom;
    bottom:100%;
}

.answers {
    opacity: 0.5;
    width:100%;
    height:80%;
    float:bottom;
    bottom:100%;
}


#myProgress {
    width: 100%;
    height:10%;
    background-color: blue;
}

#myBar {
    width: 0%;
    font-size:200%;
    height: 100%;
    background-color: magenta;
}

.ans {
    width:50%;
    height:50%;
    border:none;
    float:right;
    font-size:20px;
}

.ans:nth-child(odd) {
    float:left;
}

#ans1 {
    background-color: red;
}

#ans2 {
    background-color: green;
}

#ans3 {
    background-color: blue;
}

#ans4 {
    background-color: yellow;
}