#mcq {
    position: relative;
    background-image: url("images/quiz.png");
    background-size: auto 100%;
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

#result {
    position: relative;
    background-image: url("images/result.png");
    background-size: auto 100%;
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


#map {
    position: relative;
    background-color: #e980c3;
    background-image: url("images/planets.png");
    background-size: auto 100%;
    width:100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.question {
    width:90%;
    height:12%;
    position:absolute;
    float:top;
    top: 10%;
    left: calc(5% - 6px);
    background-color: white;
    border: 3px;
    border-style: solid;
    padding: 3px;
    font-size:20;
}

.timer {
    width:35%;
    height:12%;
    position:absolute;
    float:top;
    left:46%;
    top:37%;
    background-color: white;
    border: 3px;
    border-style: solid;
}

.correct {
    animation: correctAni 0.4s 1 linear;
}

@keyframes correctAni {
    0% {background-color: green;}
    100% {background-color: white;}
}

.incorrect {
    animation: incorrectAni 0.4s 1 linear;
}

@keyframes incorrectAni {
    0% {background-color: red;}
    100% {background-color: white;}
}


#timer {
    font-size:500%;
}

.answers {
    width:100%;
    height:80%;
    float:bottom;
    bottom:100%;
}

#myProgress {
    width: 100%;
    height:10%;
    bottom:0%;
    position:absolute;
    background-color: blue;
}

#myBar {
    width: 0%;
    font-size:200%;
    height: 100%;
    color: white;
    background-color:black;
}

.ans {
    width:calc(100%/3);
    height:35%;
    top:55%;
    border:none;
    float:right;
    position:absolute;
    font-size:20px;
    background-color: #ffffffaa;
}

#ans1 {
    left:0%;
}

#ans2 {
    left:calc(100%/3);
}

#ans3 {
    left:calc(100%/3*2);
}

#congrats {
    text-align: center;
    position: absolute;
    width: 100%;
    margin-top: 1vh;
}

.questionResult {
    background-color: #fb78c9dd;
    width:90%;
    height:10%;
    padding: 5px;
}

.questionResultSub {
    height: calc(50% - 10px);
    padding: 5px;
}

.resultAnswer {
    width:calc(100% / 3 - 2px);
    border-style: solid;
    border: 3px;
    height:100%;
    top:0%;
    float:left;
}

#resultTitle {
    height: 15%;
}

.ans1 {
    background-color:green;
}

.ans2 {
    background-color:red;
}

.ans3 {
    background-color:red;
}

.rewardDiv {
    background-color: #fb78c9;
    width: 90%;
    height: 10%;
    top: 5%;
    float: right;
    border: solid 3px;
    position: relative;
}

#meteorites {
    margin-top: 30px;
    font-size: 18px;
    width: calc(100% - 10vh);
    float: left;
}

.meteoriteImage {
    animation: spin 1s infinite linear;
    height: 10vh;
    float: right;
}

@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}