body {
    margin: 0;
    overflow: hidden;
    font-family: sans-serif;
}

/*#root { position: fixed; height: 100%; overflow: auto; }*/

.pages {
    width: 100%; 
    height: 100%; 
    left: 0%; 
    top: 0%; 
    /*position:fixed;*/
    overflow: hidden;
}

p {
    margin:0;
}

/*Desktop*/
.contents {
    width:calc(100% - 20vh);
    height:100%;
    float:right;
    font-size:20px;
}

.navbar {
    width:20vh;
    height:100%;
    float:left;
}

.navbar .tab {
    width:20vh;
    height:20vh;
}

/*Mobile formatting*/
@media (max-width: 450px) {
    .contents {
        width:100%;
        height:calc(100% - 20vw);
    }

    .navbar {
        position: absolute;
        bottom: 0%;
        width:100%;
        height:20vw;
    }

    .navbar .tab {
        width:20vw;
        height:20vw;
    }
    

}

.contents {
    background-color: white;
    /*position:relative;*/

}

.navbar { 
    background-color: green;
    /*position:absolute;
    float:bottom;*/ 
}

.navbar .tab {
    background-color:#547479;
    color:black;
    border:none;
    float:left;
    text-align: center;
    vertical-align: middle; 

}

.navbar .tab:hover {
    background-color:#485f63;

}

.navbar .tabselected {
    background-color:#2e4447;

}

.navbar #tab1 {
    background-image: url("images/tabs/tab1.png");
    background-size: auto 100%;
}

.navbar #tab2 {
    background-image: url("images/tabs/tab2.png");
    background-size: auto 100%;
}

.navbar #tab3 {
    background-image: url("images/tabs/tab3.png");
    background-size: auto 100%;
}

.navbar #tab4 {
    background-image: url("images/tabs/tab4.png");
    background-size: auto 100%;
}

.navbar #tab5 {
    background-image: url("images/tabs/tab5.png");
    background-size: auto 100%;
}

.fullscreen {
    width: 100%;
    height: 100%;
    opacity: 0;
}

.achievementPopup {
    background-color: cyan;
    position: absolute; 
    width: 90%; 
    left:5%; 
    height:10vh
}

#achievIcn {
    height:10vh;
    float: right
}


@keyframes spin {
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.imageGrid {
    width: 7ch;
    height: 7ch;
}

.tabs2 {
    position: relative;
    background: rgb(144,189,168);
    background: linear-gradient(180deg, rgba(144,189,168,1) 0%, rgba(117,151,153,1) 100%);

    background-image: url("images/home.png");
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
}

/*Mobile formatting*/
@media (max-width: 450px) {
    .tabs2 {
        height: 100%;
    }
}